<div id="<%= id %>" style="<%= style %>" class="deviceStarEndpoint Flip !important">
    <p>
        <%= ip %>
    </p>
    <span class="material-symbols-outlined">
        radio_button_checked
    </span>
</div>